body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  margin: 0;
  padding: 0;
  border: 0;
}

model-viewer {
  width: 300px;
  height: 300px;
}

.model-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas com largura igual */
  gap: 20px; /* Espaçamento entre os itens */
  justify-items: center; /* Centraliza os itens horizontalmente */
  margin: 0 auto;
  max-width: 1200px; /* Limita a largura máxima da grid */
}

model-viewer {
  width: 250px;
  height: 250px;
}
