body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  margin: 0;
  padding: 0;
  border: 0;
}

.model-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para a linha de baixo */
  justify-content: center; /* Centraliza horizontalmente */
  gap: 20px; /* Espaço entre os itens */
  margin: 40px auto;
  max-width: 1200px; /* Limite de largura para manter centralizado */
}

.product-item {
  text-align: center;
  margin-bottom: 20px;
  flex: 1 1 300px; /* Cada item terá ao menos 300px, se possível */
  max-width: 300px; /* Limita a largura de cada item */
}

.product-item-pagina {
  text-align: left;
  margin-bottom: 20px;
  flex: 1 1 500px; /* Cada item terá ao menos 300px, se possível */
  max-width: 500px; /* Limita a largura de cada item */
}

.model-viewer {
  width: 100%; /* Faz com que o viewer ocupe 100% da largura do container */
  height: 300px; /* Altura fixa para os modelos */
}

.model-viewer-pagina {
  text-align: left;
  width: 100%; /* Faz com que o viewer ocupe 100% da largura do container */
  height: 300px; /* Altura fixa para os modelos */
}

.product-info {
  margin-top: 10px;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

#intro {
  background-size: cover; /* Faz a imagem ocupar o tamanho inteiro de forma responsiva */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Garante que a imagem seja exibida apenas uma vez */
  height: 50vh; /* Ocupa 50% da altura da tela */
  width: 100%; /* Largura total */
}

#intro-paginas-produtos {
  background-size: cover; /* Faz a imagem ocupar o tamanho inteiro de forma responsiva */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Garante que a imagem seja exibida apenas uma vez */
  height: 9vh; /* Ocupa somente o espaço da navbar */
  width: 100%; /* Largura total */
}

.mask {
  height: 100%; /* Faz o overlay ocupar toda a altura do div */
}